
<hr>
<div class="row ab-info second mt-lg-4 text-center container">
    
    <div class="col-lg-4 ab-content">
        <div class="ab-content-inner">
            <div>
                <span class="fa fa-object-ungroup" aria-hidden="true"></span>
            </div>
            <div class="ab-info-con">
                <h4>Profile</h4>
              
                <a href="{% url 'accounts:view_profile' %}" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ab-content">
        <div class="ab-content-inner">
            <div>
                <span class="fa fa-xing" aria-hidden="true"></span>
            </div>
            <div class="ab-info-con">
                <h4>Training Sessions</h4>
               
                <a href="#" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ab-content">
        <div class="ab-content-inner">
            <div>
                <span class="fa fa-handshake-o" aria-hidden="true"></span>
            </div>
            <div class="ab-info-con">
                <h4>Manage Dependencies</h4>
               
                <a href="" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
            </div>
        </div>
    </div>

</div>
<hr>

