{% extends 'base/base_home.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Chigumbura Sports Academy :{% endblock %}
{% block content %}
   <!-- //header -->
   <div class="main-content inner">
        <div class="overlay inner">

        </div>
    </div>
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary submit mt-2 read-more">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}




  <section class="contact-main py-5 services">
    <div class="container py-md-5">
        <h3 class="title-w3pvt text-center">Change password</h3>
    
        <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
          
              {% if validlink %}
      
              <form class="login-wrapper w3pvt_mail_grid_right"  method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary submit mt-2 read-more">Change password</button>
              </form>
            {% else %}
              <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
              </p>
            {% endif %}
          
          
       
        </div>
      </div>
    </section>
  
  {% endblock %}