{% extends 'base/base_home.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Chigumbura Sports Academy :{% endblock %}
{% block content %}
   <!-- //header -->
   <div class="main-content inner">
        <div class="overlay inner">

        </div>
    </div>


    <section class="contact-main py-5 services">
      <div class="container py-md-5">
          <h3 class="title-w3pvt text-center">Forgot password</h3>
      
          <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
              <form class="login-wrapper w3pvt_mail_grid_right"  method="POST">
                      {% csrf_token %}
         
                  <div class="form-group">
                     <p>{{ form|crispy }}</p>
                  </div>
                  <button type="submit" class="btn btn-primary submit mt-2 read-more">Submit</button>
            
              </form>
          </div>
        </div>
      </section>

    {% endblock %}